.time-numbers > *, .time-entry > * {
	display: inline-block;
}

.timepicker {
	margin-right: 15px;
}

.edit-time-entry {
	border-top: 1px solid #ccc;
	background-color: #e0e0e0;
	padding: 15px;
	margin: 10px !important;
}

@media (min-width: 546px) {
	.time-entry-comment {
		position: relative;
		top: 60px;
	}
}

